@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Cenotaph";
        src: url("../static/fonts/Cenotaph-Titling.otf");
    }
    html {
        @apply duration-200;
    }
}